:root {
    --white: #fff;
    --dark-blue: #183042;
    --black: #001528;
    --light-green: #468966;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: var(--white);
}

body{
    background: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
   
}

.page-header{
    background-color: var(--dark-blue);
    min-height: 10%;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.page-header h1{
    font-weight: 400;
}

.page-header h4{
    color: var(--light-green);
    padding: 0.3rem 0 0.8rem 0;
}

.page-header p{
    padding: 0 2.2rem 0 0;
    font-size: 0.8rem;
}

.page-header-info{
    color: #fff;
}

.profile-image img{
    border: 3px solid var(--light-green);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

